<form class="mb-5" action="/artist-search" method="GET">
    <div class="mb-3 text-center">
        <input type="text" class="form-control" id="titleInput" aria-describedby="artist title" name="artistTitle">
    </div>
    <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>
